<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1000/xhtml">
<head th:replace="common/header :: common-header" />
<meta charset="ISO-8859-1">

<body>
	<div id="all">
		<div th:replace="common/header :: navbar"></div>

		<div id="content">
			<div class="container">

				<div class="col-sm-6 col-sm-offset-3" id="error-page">

					<div class="box">

						<p class="text-center">
							<a href="index.html"> <img src="/image/logo-my.jpg"
								alt="Obaju template">
							</a>
						</p>

						<h3>Spiacenti - la richiesta non &egrave; andata a buon fine</h3>
						<h4 class="text-muted" th:text="${errorMsg}"></h4>

						<p class="buttons">
							<a th:href="@{/}" class="btn btn-template-main"><i
								class="fa fa-home"></i> Vai alla Homepage</a>
						</p>
					</div>


				</div>
				<!-- /.col-sm-6 -->
			</div>
			<!-- /.container -->
		</div>
		<!-- /#content -->


		<!-- *** FOOTER ***
_________________________________________________________ -->

		<div th:replace="common/footer :: footer"></div>
		<!-- *** FOOTER END *** -->



	</div>
	<!-- /#all -->

	<!-- #### JAVASCRIPT FILES ### -->
	<div th:replace="common/header :: body-bottom-scripts"></div>
</body>

</html>