<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1000/xhtml">
<head th:replace="common/header :: common-header" />
<meta charset="UTF-8">

<body>


	<div id="all">
		<div th:replace="common/header :: navbar"></div>
		
		<div id="heading-breadcrumbs">
			<div class="container">
				<div class="row">
					<div class="col-md-7">
						<h1>I miei ordini</h1>
					</div>
					<div class="col-md-5">
						<ul class="breadcrumb">

							<li><a th:href="@{/}">Home</a></li>
							<li><a th:href="@{/myProfile}">Account</a></li>
							<li>I miei ordini</li>
						</ul>

					</div>
				</div>
			</div>
		</div>
		
		<div id="content">
			<div class="container">


				<div class="row">

					<!-- *** LEFT COLUMN ***
			 _________________________________________________________ -->

					<div class="col-md-9" id="customer-orders">

						<div class="box">

							<div class="table-responsive">
								<table class="table table-hover">
									<thead>
										<tr>
											<th>Numero ordine</th>
											<th>Data</th>
											<th>Totale</th>
											<th>Azione</th>
										</tr>
									</thead>
									<tbody>
										<tr th:each="order : ${orderList}">
											<td data-th-text="${order.id}"><a></a></td>
											<td><span th:text="${order.orderDate}"></span></td>
											<td data-th-text="${#numbers.formatDecimal(order.orderTotal, 1, 2)}+' €'"></td>
											<td><a th:href="@{/orderDetail(id=${order.id})}"
												class="btn btn-template-main btn-sm">View</a></td>
										</tr>
									</tbody>
								</table>
							</div>
							<!-- /.table-responsive -->

						</div>
						<!-- /.box -->

					</div>
					<!-- /.col-md-9 -->

					<!-- *** LEFT COLUMN END *** -->

					<!-- *** RIGHT COLUMN ***
			 _________________________________________________________ -->

					<div class="col-md-3">
						<!-- *** CUSTOMER MENU ***
 _________________________________________________________ -->
						<div class="panel panel-default sidebar-menu">

							<div class="panel-heading">
								<h3 class="panel-title">Customer section</h3>
							</div>

							<div class="panel-body">

								<ul class="nav nav-pills nav-stacked">
									<li class="active"><a th:href="@{/orderList}"><i class="fa fa-list"></i>
											I miei ordini</a></li>
									<li><a th:href="@{/myProfile}"><i class="fa fa-user"></i>
											Il mio account</a></li>
									<li><a th:href="@{/logout}"><i class="fa fa-sign-out"></i>
											Logout</a></li>
								</ul>
							</div>

						</div>
						<!-- /.col-md-3 -->

						<!-- *** CUSTOMER MENU END *** -->
					</div>

					<!-- *** RIGHT COLUMN END *** -->

				</div>


			</div>
			<!-- /.container -->
		</div>
		<!-- /#content -->

	<!-- *** FOOTER ***
_________________________________________________________ -->

        <div th:replace="common/footer :: footer">
        </div>
	<!-- *** FOOTER END *** -->

	</div>
	<!-- /#all -->


	<!-- #### JAVASCRIPT FILES ### -->
	<div th:replace="common/header :: body-bottom-scripts"></div>

</body>

</html>