<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1000/xhtml">
<head th:replace="common/header :: common-header" />
<meta charset="UTF-8">

<body>
	<div id="all">
		<div th:replace="common/header :: navbar"></div>



		<div id="heading-breadcrumbs">
			<div class="container">
				<div class="row">
					<div class="col-md-7">
						<h1>Nuovo account / Sign in</h1>
					</div>
					<div class="col-md-5">
						<ul class="breadcrumb">
							<li><a th:href="@{/}">Home</a></li>
							<li>Nuovo account / Sign in</li>
						</ul>

					</div>
				</div>
			</div>
		</div>

		<div id="content">
			<div class="container">

				<div class="row">
					<div class="col-md-6">
						<div class="box">
							<h2 class="text-uppercase">Nuovo account</h2>

							<p class="lead">Non sei ancora registrato?</p>
							<p>Con noi hai fantastici sconti sui prodotti che pi&ugrave; ti piacciono!
							   L'intero processo di registrazione non ti ruber&agrave; pi&ugrave; di un minuto!</p>
							<p class="text-muted">
								Se hai domande, per favore contattaci gratuitamente al <a
									th:href="@{contact}">contattaci</a>, il nostro servizio call center &egrave; 
									disponibile 24/7.
							</p>

							<hr>
							<div class="alert alert-info" th:if="${emailSent}">E' stata 
							iviata una email all'indirizzo con cui ti sei appena registrato. Per
							favore valida la tua email e aggiorna la tua password.</div>
							<form th:action="@{/newUser}" method="post">
								<div class="form-group">
									<label for="name-login">Username</label>&nbsp;<span
										style="color: red;" th:if="${usernameExists}"> Username
										gi&agrave; esistente. Scegline un altro per favore.</span> <input
										required="required" type="text" class="form-control"
										id="name-login" name="name-login" />
								</div>
								<div class="form-group">
									<label for="email-login">Email</label><span style="color: red;"
										th:if="${emailExists}"> Email gi&agrave; esistente. Scegline 
										un'altra per favore.</span> <input required="required" type="text"
										class="form-control" id="email-login" name="email-login" />
								</div>
								<div class="row">
									<div class="col-sm-9">
										<div class="alert alert-warning alert-dismissible" id="checkEmailFormat" role="alert" style="display:none;"></div>
									</div>
								</div>
								<div class="text-center">
									<button type="submit" class="btn btn-template-main" id="registerButton">
										<i class="fa fa-user-md"></i> Registrati
									</button>
								</div>
							</form>
						</div>
					</div>

					<div class="col-md-6">
						<div class="box">
							<h2 class="text-uppercase">Login</h2>

							<p class="lead">Sei gi&agrave; registrato?</p>
							<p class="text-muted">Accedi al tuo account.</p>
							
							<br><br><br>
							<hr>
							
							<div class="alert alert-danger" role="alert" th:if="${param.error != null}" style="color: red;">
								Username o password non corretti</div>
							<form th:action="@{/login}" method="post">
								<div class="form-group">
									<label for="username">Username</label> <input required="required"
										type="text" class="form-control" id="username" name="username" />	
								</div>
								
								<div class="form-group">
									<label for="password">Password</label> <input
										required="required" type="password" class="form-control"
										id="password" name="password" />
								</div>
								<div class="text-center">
									<button type="submit" class="btn btn-template-main">
										<i class="fa fa-sign-in"></i> Log in
									</button>
								</div>
								<div class="login" align="center" style="padding-top: 10px">
									<a href="#" data-toggle="modal" data-target="#reset-modal">
										Password dimenticata?</a>
								</div>
							</form>

						</div>
					</div>

				</div>
				<!-- /.row -->

			</div>
			<!-- /.container -->
		</div>
		<!-- /#content -->


		<!-- *** FOOTER ***
_________________________________________________________ -->

        <div th:replace="common/footer :: footer">
        </div>
<!-- *** FOOTER END *** -->


		<!-- *** RESET PASSWORD *** 
_________________________________________________________-->

		<div class="modal fade" id="reset-modal" tabindex="-1" role="dialog"
			aria-labelledby="Login" aria-hidden="true">
			<div class="modal-dialog modal-sm">

				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal"
							aria-hidden="true">&times;</button>
						<h4 class="modal-title" id="Login">Recupera password</h4>
					</div>
					<div class="modal-body">
						<div th:if="${emailNotExist}" class="alert alert-danger">Email
							non esistente</div>
						<div th:if="${forgetPasswordEmailSent}"
							class="alert alert-success">Email inviata</div>
						<form th:action="@{/forgetPassword}" method="post">
							<div class="form-group">
								<input type="text" class="form-control"
									placeholder="Indirizzo e-mail" required="required"
									id="recoverEmail" name="email">

								<p class="text-center">
									<button class="btn btn-small btn-template-main"
										style="margin-top: 15px">Invia</button>
								</p>
						</form>

						<p class="text-center text-muted">Inserisci il tuo indirizzo
							e-mail. Sarà inviata una password di recupero al tuo indirizzo
							e-mail</p>

					</div>
				</div>
			</div>
		</div>

		<!-- *** RESET PASSWORD END *** -->


	</div>
	<!-- /#all -->


	<!-- #### JAVASCRIPT FILES ### -->

	<div th:replace="common/header :: body-bottom-scripts"></div>

	<div th:if="${classActiveForgetPassword}">
		<script>
			$('#reset-modal').on('shown.bs.modal', function() {
				$("#txtname").focus();
			});

			// show the modal onload
			$('#reset-modal').modal({
				show : true
			});

			// everytime the button is pushed, open the modal, and trigger the shown.bs.modal event
			$('#openBtn').click(function() {
				$('#reset-modal').modal({
					show : true
				});
			});
		</script>
	</div>

</body>

</html>