
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1000/xhtml">
<head th:replace="common/header :: common-header" />
<meta charset="ISO-8859-1">

<body>
	<div id="all">

		<div th:replace="common/header :: navbar"></div>

		<div id="heading-breadcrumbs">
			<div class="container">
				<div class="row">
					<div class="col-md-6">
						<h1>Ordine Confermato</h1>
					</div>
					<div class="col-md-6">
						<ul class="breadcrumb">
							<li><a th:href="@{/}">Home</a></li>
						</ul>

					</div>
				</div>
			</div>
		</div>

		<div id="content">
			<div class="container">
				<div class="row">
					<div class="col-xs-8">
						<h2 class="section-headline">
							<span>Account Utente</span>
						</h2>
					</div>
				</div>

				<div class="row" style="margin-top: 10px;">
					<div class="col-xs-12">
						<div class="alert alert-success">
							<h3>
								<i class="fa fa-check" aria-hidden="true"
									style="color: limegreen;"></i> Grazie per aver acquistato dal nostro sito,
									il tuo ordine &egrave; stato piazzato
							</h3>
							<h4>
								La data di consegna stimata &egrave; <span
									th:text="${estimatedDeliveryDate}"></span>
							</h4>
						</div>

						<h3>Lista prodotti</h3>
						<div class="row" th:each="cartItem : ${cartItemList}">
							<hr />
							<div class="col-xs-2"></div>
							<div class="col-xs-2">

								<a th:href="@{/shop-detail(id=${cartItem.product.id})}"> <img
									class="img-responsive shelf-product"
									th:src="#{adminPath}+@{/image/product/}+${cartItem.product.id}+'-1.png'"
									style="width: 70px;" />
								</a>
							</div>
							<div class="col-xs-6">
								<div style="margin-left: 50px;">
									<a th:href="@{/shop-detail(id=${cartItem.product.id})}"><h4
											th:text="${cartItem.product.name}"></h4></a>
								</div>
							</div>

							<div class="col-xs-2">
								<h5 style="color: #db3208; font-size: large;">
									<span th:text="${cartItem.product.ourPrice}"
										th:style="${cartItem.product.inStockNumber}==0? 'text-decoration: line-through' : ''"></span>€
								</h5>
							</div>
						</div>
						<br>
					</div>
				</div>
			</div>
			<!-- end of container -->
		</div>
		<!-- end content -->

		<!-- *** FOOTER ***
_________________________________________________________ -->

		<div th:replace="common/footer :: footer"></div>
		<!-- *** FOOTER END *** -->

	</div>

	<!-- #### JAVASCRIPT FILES ### -->
	<div th:replace="common/header :: body-bottom-scripts"></div>
</body>
</html>
