<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1000/xhtml">
<head th:replace="common/header-admin :: common-header-admin" />

<body>
	<div th:replace="common/header-admin :: navbar-admin"></div>

	<div class="container">
		<div class="table-responsive">
			<table id="productListTable"
				class="table table-bordered table-hover table-striped">
				<thead>
					<tr>
						<th><input id="selectAllProduct" type="checkbox" /></th>
						<th>Nome</th>
						<th>Tipo</th>
						<th>Categoria</th>
						<th>Peso Spedizione</th>
						<th>Prezzo Lista</th>
						<th>Nostro Prezzo</th>
						<th>SKU</th>
						<th>Sale</th>
						<th>New</th>
						<th>Attivo</th>
						<th>Operazione</th>
					</tr>
				</thead>
				<tbody>
					<tr data-th-each="product : ${productList}">
						<td><input hidden="hidden" name="id"
							th:value="${product.id}" /> <input
							th:id="'selected'+${product.id}" class="checkboxProduct"
							type="checkbox" /></td>
						<td><a
							th:href="@{/adminportal/product/productInfo(id=${product.id})}"><span
								th:text="${product.name}"></span></a></td>
						<td th:text="${product.type.name}"></td>
						<td th:text="${product.category.name}"></td>
						<td th:text="${product.shippingWeight}"></td>
						<td th:text="${product.listPrice}"></td>
						<td th:text="${product.OurPrice}"></td>
						<td th:text="${product.inStockNumber}"></td>
						<td th:text="${product.sale}"></td>
						<td th:text="${product.newProduct}"></td>
						<td th:text="${product.active}"></td>
						<td><input hidden="hidden" name="id"
							th:value="${product.id}" />
							<button th:id="'oneProduct-'+${product.id}"
								class="btn btn-danger btn-xs delete-product" type="submit"
								value="delete">
								<span class="fa fa-times"></span>Delete
							</button></td>
					</tr>
				</tbody>
			</table>
		</div>
		<button th:id="deleteSelected" class="btn btn-danger ">Delete
			Selected</button>
	</div>


	<div th:replace="common/header-admin :: admin-body-bottom-scripts"></div>

	<script>
		$(document).ready(
				function() {
					$("#productListTable").DataTable(
							{
								"lengthMenu" : [ [ 5, 10, 15, 20, -1 ],
										[ 5, 10, 15, 20, "All" ] ],
								"ordering" : false,
								stateSave : true
							});
				});
	</script>

</body>
</html>
