<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1000/xhtml">

<head th:replace="common/header :: common-header" />
<meta charset="ISO-8859-1">

<body>

	<div id="all">

		<div th:replace="common/header :: navbar"></div>

		<div id="heading-breadcrumbs">
			<div class="container">
				<div class="row">
					<div class="col-md-7">
						<h1>
							<span th:text="${product.name}"></span>
						</h1>
					</div>
					<div class="col-md-5">
						<ul class="breadcrumb">
							<li><a th:href="@{/}">Home</a></li>
							<li><a th:href="@{/shop-category}">Negozio</a></li>
							<li th:text="${product.name}"></li>
						</ul>

					</div>
				</div>
			</div>
		</div>

		<div id="content">
			<div class="container">

				<div class="row">

					<!-- *** LEFT COLUMN ***
		    _________________________________________________________ -->

					<div class="col-md-9">
						<div class="row" id="productMain">
							<div class="col-sm-6">
								<div id="mainImage">
									<img
										th:src="#{adminPath}+@{/image/product/}+${product.id}+'-2.png'"
										alt="" class="img-responsive">
								</div>

								<div th:if="${product.sale}" class="ribbon sale">
									<div class="theribbon">SALE</div>
									<div class="ribbon-background"></div>
								</div>
								<!-- /.ribbon -->

								<div th:if="${product.newProduct}" class="ribbon new">
									<div class="theribbon">NEW</div>
									<div class="ribbon-background"></div>
								</div>
								<!-- /.ribbon -->

							</div>
							<div class="col-sm-6">
								<div class="box">

									<form th:action="@{/shoppingCart/addItem}" method="post">
										<input hidden="hidden" th:field="*{product.id}" />

										<div class="sizes">

											<h3 th:if="*{product.inStockNumber&lt;=0}"
												style="color: red">Non Disponibile</h3>

											<h3 th:if="*{product.inStockNumber!=0}">Quantit&agrave;
												disponibile</h3>
											<h2 th:if="*{product.inStockNumber!=0}" class="text">
												<span th:text="${product.inStockNumber}"></span>
											</h2>

										</div>

										<p class="price">
											<span th:if="${product.ourPrice}!=0.0"
												th:text="${#numbers.formatDecimal(product.ourPrice,1,2)}"></span>
											<span th:if="${product.ourPrice}==0.0"
												th:text="${#numbers.formatDecimal(product.listPrice,1,2)}"></span> €
										</p>

										<p class="text-center">
											<button type="submit" th:classappend="*{product.inStockNumber&lt;=0}? 'disabled'" class="btn btn-template-main">
												<i class="fa fa-shopping-cart"></i> Aggiungi al carrello
											</button>
										</p>

									</form>
								</div>

								<div class="row" id="thumbs">
									<div class="col-xs-4">
										<a
											th:href="#{adminPath}+@{/image/product/}+${product.id}+'-2.png'"
											class="thumb"> <img
											th:src="#{adminPath}+@{/image/product/}+${product.id}+'-2.png'"
											alt="" class="img-responsive">
										</a>
									</div>
									<div class="col-xs-4">
										<a
											th:href="#{adminPath}+@{/image/product/}+${product.id}+'-3.png'"
											class="thumb"> <img
											th:src="#{adminPath}+@{/image/product/}+${product.id}+'-3.png'"
											alt="" class="img-responsive">
										</a>
									</div>
									<div class="col-xs-4">
										<a
											th:href="#{adminPath}+@{/image/product/}+${product.id}+'-4.png'"
											class="thumb"> <img
											th:src="#{adminPath}+@{/image/product/}+${product.id}+'-4.png'"
											alt="" class="img-responsive">
										</a>
									</div>
								</div>
							</div>

						</div>


						<div class="box" id="details">
							<p>
							<h4>Descrizione Prodotto</h4>
							<p th:utext="${product.description}"></p>
							<div th:each="attribute: ${product.productAttributes}">
								<h4 th:text="${attribute.name}"></h4>
								<p th:utext="${attribute.value}"></p>
							</div>
						</div>					
					</div>
					<!-- /.col-md-9 -->


					<!-- *** LEFT COLUMN END *** -->

					<!-- *** RIGHT COLUMN ***
		  _________________________________________________________ -->

					<div class="col-sm-3">

						<!-- *** MENUS AND FILTERS ***
 _________________________________________________________ -->

						<div class="panel panel-default sidebar-menu">

							<div class="panel-heading">
								<h3 class="panel-title">Filtra</h3>
							</div>

							<div class="panel-body">
								<ul th:each="type: ${session.types}" class="nav nav-pills nav-stacked category-menu">
									<li class="active"><a href="#" th:text="${type.name}"></a>
										<ul>
											<li th:classappend="${activeAll}? 'active btn-default'"><a
												th:href="@{/searchByCategory(category='all'+${type.id})}">All</a></li>
											<li th:each="category: ${type.categories}" 
												th:classappend="(${activeCategory}==${category.id})? 'active btn-default'">
												<a th:href="@{/searchByCategory(category=${category.id})}" 
													th:inline="text">[[${category.name}]]
													<span class="badge pull-right" th:text="${category.qty}"></span></a>
											</li>
										</ul>
									</li>
								</ul>
							</div>
						</div>

						<!-- *** MENUS AND FILTERS END *** -->

					</div>
					<!-- /.col-md-3 -->

					<!-- *** RIGHT COLUMN END *** -->

				</div>
				<!-- /.row -->

			</div>
			<!-- /.container -->
		</div>
		<!-- /#content -->

<!-- *** FOOTER ***
_________________________________________________________ -->

        <div th:replace="common/footer :: footer">
        </div>
<!-- *** FOOTER END *** -->

	</div>
	<!-- /#all -->

	<!-- #### JAVASCRIPT FILES ### -->
	<div th:replace="common/header :: body-bottom-scripts"></div>

</body>

</html>